* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway";
}

:root {
	/*Colors*/
	--Almond: #f1dac4;
	--Rose_quarz: #a69cac;
	--Ultra_Violet: #474973;
	--Oxford_Blue: #161b33;
	--Rick_Black: #0d0c1d;

	/*Blur colors*/
	--Almond-blur: #f1dac4ca;
	--Rose_quarz-blur: #a69cacd4;
	--Ultra_Violet-blur: #474973e0;
	--Oxford_Blue-blur: #161b33e4;
	--Rick_Black-blur: #0d0c1dd6;

	/*Fonts*/
	--title_subtitle_font: "Raleway", sans-serif;
	--general_text_font: "Nunito", sans-serif;

	/*Font Size*/
	--title_size: 1.2rem;
	--subtitle_size: 1.15rem;
	--general_text-size: 1.2rem;
	--hyper_tyle_size: 5rem;
}

/*Other styles*/
.down_scroll {
	margin-top: 15px;
	background-color: #a69cac;
	border-radius: 25px;
	margin-left: 25px;
	transform: scale(0.92);
}

/*HTML Style*/
body {
	display: flex;
	flex-direction: column;
	padding: 0;
	justify-content: center;
	background-color: #b5acb9;
}

/*Navbar Styles*/
.header {
	display: flex;
	width: 100%;
	height: 10vh;
	justify-content: center;
	top: 0px;
	position: fixed;
	z-index: 99;

	& .navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		background-color: var(--Oxford_Blue);
		padding: 0 25px;
		position: absolute;
		height: 100%;
		top: 0px;
		transition: 0.1s all ease-in-out;

		& .icon_nav {
			display: inline-flex;
			justify-content: center;
			align-items: left;
			width: 10%;

			& img {
				transform: scale(0.08);
			}
		}

		& .nav ul .item_nav {
			display: inline-flex;
			justify-content: space-between;
			align-items: right;
			font-family: var(--title_subtitle_font);
			font-size: var(--title_size);
			font-weight: 600;
			padding: 0px 10px;
			z-index: 5;
			right: 35px;
			margin-top: 15px;
			margin-right: 10px;

			& a {
				justify-content: space-between;
				text-decoration: none;
				color: white;
				padding: 10px;
				transition: 0.3s all ease-in-out;
			}

			& .search_bar {
				backdrop-filter: blur(30px);
				background-color: var(--Rose_quarz);
				padding: 10px;
				border-radius: 25px;
				border: none;
				width: 35px;
				height: 35px;
				transition: 0.3s all ease-in-out;
				font-family: var(--general_text_font);
				margin-right: 100px;
			}

			& .search_bar:hover {
				width: 200px;
				background-color: white;
			}

			& .search_bar:active {
				border: none;
				content: "";
			}
		}
	}

	& .nav ul .item_nav a:hover {
		cursor: pointer;
		transform: scale(1.15);
		color: var(--Almond);
		font-weight: 700;
	}

	& .nav ul .github_icon a .bxl-github {
		position: absolute;
		display: flex;
		justify-content: space-around;
		align-items: right;
		font-size: 2.4rem;
		top: 12px;
		right: 50px;
		color: white;
		transition: 0.3s all ease-in-out;
		padding: 5px 0;
	}

	& .nav ul .github_icon a .bxl-github:hover {
		color: var(--Almond);
		transform: translateY(-5px) scale(1.1);
	}
}

/*Search Bar Placeholder icon*/
.search_bar::placeholder {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: white;
}

.search_bar:hover::placeholder {
	color: black;
}

/*-----------------------------------------------------*/
/*Busqueda*/
h1 {
	margin-top: 7%;
	margin-bottom: 3%;
	text-align: -webkit-center;
}

#searchForm {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 4%;
}

#titleInput {
	width: 30rem;
	height: 55px;
	border-radius: 15px;
	text-align: center;
	font-size: 2rem;
}

/*-----------------------------------------------------*/
/* Contenedor de canciones */

#resultContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #a99fae;
	padding: 2%;
	border-radius: 5rem;
}

#resultContainerSong {
	text-align-last: center;
	padding: 4%;
}

#infosongcontainer {
	display: flex;
	padding: 1rem;
	font-size: 1.5rem;
	flex-direction: column;
	margin: 5px;
}

#imgsongfoto {
	height: 11rem;
	border-radius: 150px;
}
#titlesong {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	margin-bottom: 15px;
}
#author {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	margin-bottom: 15px;
}
#duracion {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
	margin-bottom: 15px;
}
#reproduccion {
	grid-column: 4 / 5;
	grid-row: 1 / 2;
	margin-bottom: 15px;
}

#reproduccion img {
	width: 75px;
}
