@import url("/styles/header.styles.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway";
}

:root {
	/*Colors*/
	--Almond: #f1dac4;
	--Rose_quarz: #a69cac;
	--Ultra_Violet: #474973;
	--Oxford_Blue: #161b33;
	--Rick_Black: #0d0c1d;

	/*Blur colors*/
	--Almond-blur: #f1dac4ca;
	--Rose_quarz-blur: #a69cacd4;
	--Ultra_Violet-blur: #474973e0;
	--Oxford_Blue-blur: #161b33e4;
	--Rick_Black-blur: #0d0c1dd6;

	/*Fonts*/
	--title_subtitle_font: "Raleway", sans-serif;
	--general_text_font: "Nunito", sans-serif;

	/*Font Size*/
	--title_size: 1.2rem;
	--subtitle_size: 1.15rem;
	--general_text-size: 1.2rem;
	--hyper_tyle_size: 5rem;
}

/*HTML Style*/
body {
	background-image: url(/assets/images/magicpattern-grid-pattern-1701045331623.png);
    background-color: var(--Almond);
	display: flex;
	flex-direction: column;
	padding: 0;
	justify-content: center;
	background-color: #b5acb9;
}


/*Busqueda*/
h1 {
	margin-top: 7%;
	margin-bottom: 3%;
	text-align: -webkit-center;
}

#searchForm {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 4%;
}

#titleInput {
	width: 30rem;
	height: 55px;
	border-radius: 15px;
	text-align: center;
	font-size: 2rem;
}

#titleInput::placeholder{
	font-size: 1.2rem;
	text-align: center;
	padding: 5px;
}

/*-----------------------------------------------------*/
/* Contenedor de canciones */

#resultContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 90%;
	gap: 10px;
	margin-left: 100px;
	height: auto;
	background-color: white;
	padding: 2%;
	border-radius: 5rem;
}

#resultContainerSong {
	text-align-last: center;
	padding: 4%;
}

#infosongcontainer {
	display: flex;
	padding: 1rem;
	font-size: 1.5rem;
	flex-direction: column;
	margin: 5px;
}

#imgsongfoto {
	height: 11rem;
	border-radius: 150px;
}
#titlesong {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	margin-bottom: 15px;
}
#author {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	margin-bottom: 15px;
}
#duracion {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
	margin-bottom: 15px;
}
#reproduccion {
	grid-column: 4 / 5;
	grid-row: 1 / 2;
	margin-bottom: 15px;
}

#reproduccion img {
	width: 75px;
}
