*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    /*Colors*/
    --Almond: #F1DAC4;
    --Rose_quarz: #A69CAC;
    --Ultra_Violet: #474973;
    --Oxford_Blue: #161B33;
    --Rick_Black: #0D0C1D;

    /*Blur colors*/
    --Almond-blur: #f1dac4ca;
    --Rose_quarz-blur: #a69cacd4;
    --Ultra_Violet-blur: #474973e0;
    --Oxford_Blue-blur: #161b33e4;
    --Rick_Black-blur: #0d0c1dd6;

    /*Fonts*/
    --title_subtitle_font: 'Raleway', sans-serif;
    --general_text_font: 'Nunito', sans-serif;

    /*Font Size*/
    --title_size: 1.2rem;
    --subtitle_size: 1.15rem;
    --general_text-size: 14px;
}

/*HTML Style*/
body{
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
}

/*Navbar Styles*/
.header{
    position: absolute;
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    top: 0px;

    & .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: var(--Oxford_Blue);
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 0 25px;

        & .icon_nav{
            display: inline-flex;
            justify-content: center;
            align-items: left;
            width: 10%;

            & img{
                transform: scale(0.08);
            }
        }

        & .nav ul li{
            display: inline-flex;
            justify-content: space-between;
            align-items: right;
            font-family: var(--title_subtitle_font);
            font-size: var(--title_size);
            font-weight: 600;
            padding: 0px 25px;
            transition: .3s all ease-in-out;

                & a{
                    text-decoration: none;
                    color: white;
                }

                & .search_bar{
                    backdrop-filter: blur(30px);
                    background-color: var(--Rose_quarz);
                    padding: 10px;
                    border-radius: 25px;
                    border: none;
                    width: 35px;
                    transition: .3s all ease-in-out;
                    font-family: var(--general_text_font);
                }

                & .search_bar:hover{
                    width: 200px;
                    background-color: white;
                }

                & .search_bar:active{
                    border: none;
                    content: "";
                }
            }
        }

        & .nav ul li a:hover{
            cursor: pointer;
            transform: scale(1.15); 
            color: var(--Almond);  
            font-weight: 700;   
        }
}

/*Search Bar Placeholder icon*/
.search_bar::placeholder{
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    color: white;
}

.search_bar:hover::placeholder{
    color: black;
}