*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    /*Colors*/
    --Almond: #F1DAC4;
    --Rose_quarz: #A69CAC;
    --Ultra_Violet: #474973;
    --Oxford_Blue: #161B33;
    --Rick_Black: #0D0C1D;

    /*Blur colors*/
    --Almond-blur: #f1dac4ca;
    --Rose_quarz-blur: #a69cacd4;
    --Ultra_Violet-blur: #474973e0;
    --Oxford_Blue-blur: #161b33e4;
    --Rick_Black-blur: #0d0c1dd6;

    /*Fonts*/
    --title_subtitle_font: 'Raleway', sans-serif;
    --general_text_font: 'Nunito', sans-serif;

    /*Font Size*/
    --title_size: 1.2rem;
    --subtitle_size: 1.15rem;
    --general_text-size:1.2rem;
    --hyper_tyle_size: 5rem;
}

/*Other styles*/
.down_scroll{
    margin-top: 15px;
    background-color: #A69CAC;
    border-radius: 25px;
    margin-left: 25px;
    transform: scale(0.92);
}

/*HTML Style*/
body{
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
}

/*Navbar Styles -------------------------------------*/
.header{
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    top: 0px; 
    position: fixed;
    z-index: 99;

    & .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: var(--Oxford_Blue);
        padding: 0 25px;
        position: absolute;
        height: 100%;
        top: 0px;
        transition: .1s all ease-in-out;

        & .icon_nav{
            display: inline-flex;
            justify-content: center;
            align-items: left;
            width: 10%;

            & img{
                transform: scale(0.08);
            }
        }

        & .nav ul .item_nav{
            display: inline-flex;
            justify-content: space-between;
            align-items: right;
            font-family: var(--title_subtitle_font);
            font-size: var(--title_size);
            font-weight: 600;
            padding: 0px 10px;
            z-index: 5;
            right: 35px;
            margin-top: 15px;
            margin-right: 10px;

                & a{
                    justify-content: space-between;                    
                    text-decoration: none;
                    color: white;
                    padding: 10px;
                    transition: .3s all ease-in-out;
                }

                & .search_bar{
                    backdrop-filter: blur(30px);
                    background-color: var(--Rose_quarz);
                    padding: 10px;
                    border-radius: 25px;
                    border: none;
                    width: 35px;
                    height: 35px;
                    transition: .3s all ease-in-out;
                    font-family: var(--general_text_font);
                    margin-right: 100px;
                }

                & .search_bar:hover{
                    width: 200px;
                    background-color: white;
                }

                & .search_bar:active{
                    border: none;
                    content: "";
                }
            }
        }

        & .nav ul .item_nav a:hover{
            cursor: pointer;
            transform: scale(1.15); 
            color: var(--Almond);  
            font-weight: 700;   
        }

        & .nav ul .github_icon a .bxl-github{
            position: absolute;
            display: flex;
            justify-content: space-around;
            align-items: right;
            font-size: 2.4rem;
            top: 12px;
            right: 50px;
            color: white;
            transition: .3s all ease-in-out;
            padding:5px 0;
        }

        & .nav ul .github_icon a .bxl-github:hover{
            color: var(--Almond);
            transform: translateY(-5px) scale(1.10);
        }
}

/*Search Bar Placeholder icon*/
.search_bar::placeholder{
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    color: white;
}

.search_bar:hover::placeholder{
    color: black;
}



/*-----------------------------------------------------*/

/*Main Styles*/
.main{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1.5fr 1.5fr 1.5fr; 
    gap: 0px 0px; 
    width: 100%;
    background-color: var(--Rose_quarz);
    scroll-snap-type: y mandatory;
}

/*Section A styles*/
.section_a{
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--Rose_quarz);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;

    & .main_image{
        display: flex;
        margin-top: 230px;
        margin-right: 12%;
    }

    & .main_text{
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 50px;

        & .title{
            position: relative;
            font-family: var(--title_subtitle_font);
            font-size: 6rem;
            padding: 25px 0px;
            letter-spacing: 5px;
            margin-top: 225px;
            text-align: center;
            font-weight: 600;
        }

        & h2{
            font-family: var(--general_text_font); 
            font-size: 1.4rem;
            text-align: center;
        }

        & .paragraph{
            margin-top: 40px;
            font-family: var(--general_text_font);
            font-size: 1.25rem;
            text-align: justify;
            padding: 50px;
        }
    }
}

/*Button Styles*/
button {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: 1rem;
    font-family: var(--general_text_font);
    bottom: 100px;
    right: 80px;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 25px;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

/*Section B styles*/
.section_b{
    z-index: 20;
    grid-area: 2 / 1 / 3 / 3;
    background-color: var(--Almond);
}

/*Section C styles*/
.section_c{
    grid-area: 3 / 1 / 4 / 3;
    background-color: var(--Rick_Black);
}
